:root {
  --color-black: #000;
  --color-white: #fff;
}

/* @include font-face("GothamPro", "GothamPro", 400, normal); */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

body.scroll-hide {
  overflow: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .page {
    padding-bottom: 45px;
  }
}

.page-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
@media (max-width: 820px) {
  .page-content {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.page-content__left {
  width: 270px;
}
@media (max-width: 1100px) {
  .page-content__left {
    display: none;
  }
}

.page-content__right {
  width: calc(100% - 290px);
}
@media (max-width: 1100px) {
  .page-content__right {
    width: 100%;
  }
}

.page__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 25px;
}

.footer {
  min-height: 80px;
  padding: 30px 0;
  background: #333333;
  margin-top: auto;
}
.footer .container {
  padding-left: 300px;
}
@media (max-width: 820px) {
  .footer .container {
    padding-left: 10px;
  }
}
.footer .footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.footer .footer__text a {
  color: #FFFFFF;
}
.footer .footer__text a:hover {
  text-shadow: 0.5px 0 0 currentColor;
}

.baneers-wrap {
  margin-top: 30px;
}

.baneer {
  margin-bottom: 20px;
  display: block;
}
.baneer:last-child {
  margin-bottom: 0;
}
.baneer img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 30px;
  border-radius: 30px;
  white-space: nowrap;
  min-width: 63px;
  text-transform: uppercase;
  position: relative;
}
.btn.btn-small {
  padding: 5px 20px;
  text-transform: none;
}
.btn.btn--orange {
  color: #FFFFFF;
  background: linear-gradient(90deg, #F99B38 0%, #FDAE59 100%);
  border: 1px solid #FDAD58;
}
.btn.btn--orange:hover {
  color: #fff;
  background: #E38B2C;
}
.btn.btn--red {
  color: #CF3A3A;
  border: 1px solid #CF3A3A;
}
.btn.btn--red:hover {
  background-color: #CF3A3A;
  color: #FFFFFF;
}
.btn.btn--black {
  color: #333333;
  border: 1px solid #333333;
  font-weight: 700;
}
.btn.btn--black:hover {
  background-color: #333333;
  color: #FFFFFF;
}
.btn.btn--green {
  color: #FFFFFF;
  background: linear-gradient(90deg, #80C936 0%, #7CB048 100%);
  border: 1px solid #7fc93600;
}
.btn.btn--green:hover {
  background: #58822D;
  color: #fff;
}
.btn.btn--green-border {
  color: #333333;
  border: 1px solid #80C936;
}
.btn.btn--green-border:hover {
  color: #FFFFFF;
  background: linear-gradient(90deg, #80C936 0%, #7CB048 100%);
  border: 1px solid #7fc93600;
}
.btn.btn--green-border:hover span {
  border-left: 1px solid #fff;
}
.btn.btn--green-border:hover div {
  text-transform: none !important;
  font-weight: 600;
}
.btn.btn--green-border:hover .quest-tippy::before {
  color: #fff;
}
.btn.btn--grey {
  background: linear-gradient(90deg, #797979 0%, #5C5C5C 100%);
  color: #fff;
}
.btn.btn--grey span {
  border-left: 1px solid #fff;
}
.btn.btn--grey span::before {
  color: #fff;
}
.btn.btn--grey div {
  text-transform: none !important;
  font-weight: 600;
}
.btn.btn--grey:hover {
  background: #58822D;
}
.btn.btn--grey:active {
  background: linear-gradient(90deg, #80C936 0%, #7CB048 100%);
}
.btn.btn--white {
  border: 1px solid #FFFFFF;
  color: #fff;
}
.btn.btn--white:hover {
  color: #000000;
  background-color: #fff;
}

.length-num {
  background: #FFC107;
  border-radius: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 2px 5px;
  position: absolute;
  right: -8px;
  top: -8px;
  min-width: 25px;
}

.quest-tippy {
  border: 1px solid #333333;
  position: relative;
  width: 20px;
  min-width: 20px;
  display: inline-block;
  height: 20px;
  border-radius: 50%;
  margin-left: 8px;
  transform: translateY(5px);
}
.quest-tippy::before {
  position: absolute;
  content: "?";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.quest-tippy.btn-tippy {
  border: none;
  border-left: 1px solid #333333;
  border-radius: 0;
  padding-left: 15px;
  padding-top: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 16px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  transform: translateY(1px);
  margin-left: 9px;
}
.quest-tippy.btn-tippy::before {
  padding-left: 5px;
}

.btn-more {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #F9F9F9;
  border: 1px solid #333333;
  border-radius: 25px;
  padding: 5px 15px;
}
.btn-more:hover {
  background-color: #333333;
  color: #fff;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #E3E3E3;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  justify-content: space-between;
  max-width: 415px;
  width: 100%;
  align-items: center;
}

.logo {
  width: 58px;
  height: 40px;
  min-width: 58px;
}
.logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.site-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  max-width: 143px;
  margin: 0 20px;
}

.contact-info {
  font-weight: 400;
  color: #333333;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
}
.contact-info a {
  font-size: 16px;
  line-height: 20px;
  display: block;
  color: #333333;
}
.contact-info a:hover {
  text-shadow: 0.5px 0 0 currentColor;
}
.contact-info span {
  font-size: 12px;
  line-height: 15px;
  display: block;
  margin-top: 2px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;
}

.header__btn {
  margin: 0 30px;
}

.money {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.money__icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.money__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.money__num {
  font-size: 20px;
  line-height: 24px;
  padding: 0 5px;
  transform: translateY(-2px);
}

.money__quest {
  border-left: 1px solid #333333;
  margin-left: 3px;
  padding-left: 3px;
}

.header__chat {
  width: 24px;
  height: 24px;
  background-image: url("../img/chat-icon.svg");
  position: relative;
}
@media (any-hover: hover) {
  .header__chat:hover .new-messages {
    display: block;
  }
}

.new-messages {
  position: absolute;
  width: 180px;
  top: 100%;
  padding-top: 5px;
  display: none;
}
.new-messages.active {
  display: block;
}

.new-messages-item {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  padding: 7px;
  border-bottom: 1px solid #E3E3E3;
  background: #333333;
  display: block;
}
.new-messages-item:last-child {
  border: none;
}
.new-messages-item span {
  font-weight: 600;
  text-decoration: underline;
}
.new-messages-item:hover {
  text-shadow: 0.5px 0 0 currentColor;
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile__icon {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.profile__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.profile__position {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.lang {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  cursor: pointer;
  position: relative;
}
.lang a {
  color: #000000;
}
.lang a:hover {
  text-shadow: 0.5px 0 0 currentColor;
}
@media (any-hover: hover) {
  .lang:hover .lang__active::after {
    transform: rotateX(180deg);
  }
  .lang:hover .lang__list {
    display: block;
  }
}

.lang__active {
  display: flex;
  align-items: center;
}
.lang__active::after {
  content: "";
  background-image: url("../img/lang-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  margin-left: 3px;
}

.lang__list {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 5px;
  display: none;
}

.mob-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #333333;
  grid-template-columns: repeat(3, 1fr) 50px;
  z-index: 2222;
  display: none;
}
.mob-nav .page-nav {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 270px;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}
.mob-nav .page-nav.active {
  transform: translateX(0);
}

.mob-nav-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border-right: 1px solid #E3E3E3;
  padding: 10px;
}
.mob-nav-item:last-child {
  margin-right: 0;
}

@media (max-width: 1100px) {
  .header__wrapper {
    flex-wrap: wrap;
  }

  .header__center {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .mob-nav {
    display: grid;
  }
}
@media (max-width: 900px) {
  .header__wrapper {
    flex-direction: column;
  }

  .header__left,
.header__right {
    max-width: 100%;
  }

  .header__left {
    margin-bottom: 20px;
  }

  .header__center {
    margin-top: 20px;
  }

  .site-descr {
    margin-right: auto;
  }

  .header__chat {
    margin-left: auto;
  }

  .profile {
    margin: 0 20px 0 10px;
  }
}
@media (max-width: 580px) {
  .header {
    padding: 10px 0;
    border-bottom: none;
  }

  .site-descr {
    font-size: 8px;
    line-height: 10px;
    max-width: 96px;
    margin-left: 13px;
  }

  .contact-info {
    font-size: 8px;
    line-height: 10px;
    margin-left: 10px;
  }
  .contact-info a {
    font-size: 12px;
    line-height: 15px;
  }
  .contact-info span {
    font-size: 10px;
    line-height: 12px;
  }

  .money {
    font-size: 10px;
    line-height: 12px;
  }

  .money__num {
    font-size: 16px;
    line-height: 20px;
  }

  .profile__name,
.profile__position {
    font-size: 0;
  }

  .lang.active .lang__active::after {
    transform: rotateX(180deg);
  }

  .new-messages {
    right: 0;
  }
}
.page-nav {
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
}

.page-nav-item {
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-nav-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 8px;
  background: #7CB048;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.page-nav-item:last-child {
  border-bottom: 1px solid 0;
}
.page-nav-item.more-list .page-nav-item__title::after {
  content: "";
  background-image: url("../../img/lang-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 10px;
  height: 7px;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
}
.page-nav-item.active::before {
  opacity: 1;
}
.page-nav-item.active .page-nav-item__title::after {
  transform: rotateX(180deg);
}
.page-nav-item.active .page-nav-item__list {
  display: block;
}

.page-nav-item__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: flex;
  align-items: center;
  padding: 13px 25px;
  cursor: pointer;
}
.page-nav-item__title:hover {
  text-decoration: underline;
}

.page-nav-item__list {
  padding-left: 20px;
  padding: 0 20px 13px 45px;
  display: none;
}
.page-nav-item__list a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #444444;
}
.page-nav-item__list a:hover {
  text-shadow: 0.5px 0 0 currentColor;
}
.page-nav-item__list a.active {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
}
.page-nav-item__list a.active:hover {
  text-shadow: none;
}

.page-tabs {
  display: flex;
  border-bottom: 1px solid #E3E3E3;
  overflow-x: auto;
  padding-top: 10px;
  margin-top: -10px;
}
.page-tabs .tabs__btn {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #707070;
  position: relative;
  margin-right: 45px;
  padding-bottom: 15px;
  position: relative;
  white-space: nowrap;
}
.page-tabs .tabs__btn::before {
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  background: #7CB048;
  left: 0;
  bottom: 0;
  display: none;
}
.page-tabs .tabs__btn.active {
  color: #000000;
}
.page-tabs .tabs__btn.active::before {
  display: block;
}
.page-tabs .tabs__btn .length-num {
  right: -23px;
  top: -9px;
}

.tabs-content.hide {
  display: none;
}

.tabs-content__top {
  display: flex;
  align-items: center;
  padding: 40px 0 20px;
}

.tabs-content__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-right: 30px;
}

@media (max-width: 820px) {
  .tabs-content__top {
    padding: 30px 0 20px;
  }

  .info-pay-wrap .info-pay-table li div {
    width: auto;
    min-width: auto;
    text-align: right;
    display: flex;
    align-items: center;
  }
  .info-pay-wrap .info-pay-table li div span {
    padding-right: 3px;
  }
}
.info-pay-wrap {
  display: flex;
  justify-content: space-between;
}

.info-pay-table {
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.info-pay-table li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #E3E3E3;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.info-pay-table li div {
  width: 48%;
  min-width: 48%;
  margin-left: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.info-pay-table .table-info-btns {
  display: flex;
  margin-top: auto;
}
.info-pay-table .table-info-btns .btn {
  margin-right: 30px;
  position: relative;
}
.info-pay-table .table-info-btns .btn:last-child {
  margin-right: 0;
}

.table-info {
  width: calc(56% - 10px);
}
.table-info ul {
  margin-bottom: 20px;
}

.table-pay {
  width: calc(44% - 10px);
}
.table-pay li div {
  width: 90px;
  min-width: 90px;
  text-align: left;
  margin-left: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.table-pay li div span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.table-pay__btns {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-pay__btns .btn {
  max-width: 231px;
  width: 100%;
  margin-bottom: 20px;
}
.table-pay__btns .btn:last-child {
  margin-bottom: 0;
}

@media (max-width: 820px) {
  .info-pay-wrap {
    flex-direction: column;
  }

  .table-info {
    width: 100%;
    margin-bottom: 10px;
  }

  .table-pay {
    width: 100%;
  }
}
.chat-form {
  display: flex;
}
.chat-form > div {
  width: 210px;
  padding-left: 20px;
}
.chat-form .btn--black {
  margin-top: 15px;
}

.add-file {
  position: relative;
  margin-top: 15px;
}
.add-file input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.chat-form__btn {
  width: 120px;
}

.chat-message {
  margin-top: 35px;
}

.message {
  margin-bottom: 40px;
  display: flex;
}
.message:last-child {
  margin-bottom: 0;
}

.message-manager .message__text {
  background: #333333;
  color: #FFFFFF;
  margin-left: 45px;
}
.message-manager .message__text::before {
  background-image: url("../img/message-icon.svg");
  left: -24px;
  top: 39px;
}

.message-user {
  flex-direction: row-reverse;
}
.message-user .message__text {
  background: #F9F9F9;
  color: #000000;
  margin-right: 45px;
}
.message-user .message__text::before {
  background-image: url("../img/message-icon-right.svg");
  right: -24px;
  top: 39px;
}

.message__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.message__icon {
  width: 75px;
  height: 75px;
}
.message__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.message__name {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-top: 10px;
}

.message__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 20px 30px;
  position: relative;
  z-index: 1;
}
.message__text::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25px;
  height: 16px;
  z-index: -1;
}
.message__text p {
  margin-bottom: 15px;
}
.message__text p:last-child {
  margin-bottom: 0;
}
.message__text .small-text {
  font-size: 12px;
  line-height: 15px;
}

.message-date {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 10px;
  line-height: 13px;
}

@media (max-width: 680px) {
  .chat-form {
    flex-direction: column;
  }

  .chat-form textarea {
    width: 100%;
  }

  .chat-form > div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .chat-form .btn--black {
    margin-top: 0;
    margin-left: 20px;
  }

  .message__icon {
    width: 40px;
    height: 40px;
  }

  .message__name {
    font-size: 10px;
    line-height: 12px;
  }

  .message__text {
    padding: 10px 10px 30px;
    font-size: 12px;
    line-height: 20px;
  }

  .message__text .small-text {
    font-size: 10px;
    line-height: 15px;
  }

  .message-manager .message__text {
    margin-left: 10px;
  }

  .message-user .message__text {
    margin-right: 10px;
  }
  .message-user .message__text::before {
    right: -8px;
    top: 19px;
  }

  .message-manager .message__text::before {
    left: -8px;
    top: 19px;
  }

  .chat-message {
    margin-top: 25px;
  }
}
.file-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.file-wrap-col {
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  padding: 30px 20px;
}

.file-wrap-col__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 15px;
}

.btn__send {
  margin-top: 10px;
  margin-left: auto;
}

.file-item {
  display: flex;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #E3E3E3;
}
.file-item:last-child {
  border: none;
}
.file-item .btn {
  margin-left: 30px;
}
.file-item .btn-download:hover::before {
  filter: brightness(20);
}
.file-item .btn-download {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.file-item .btn-download::before {
  content: "";
  background-image: url("../../img/btn-download.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 9px;
  height: 13px;
  margin-right: 5px;
}
.file-item .file-item__remove {
  width: 26px;
  min-width: 26px;
  height: 26px;
  padding: 0;
  position: relative;
}
.file-item .file-item__remove:hover::before {
  color: #fff;
}
.file-item .file-item__remove::before {
  position: absolute;
  content: "+";
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transform: rotate(45deg);
}
.file-item .add-file {
  margin-top: 0;
  margin-left: auto;
}

.file-item__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 20px;
}

.file-item__date {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-right: auto;
}

.number-files {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333333;
  border-radius: 25px;
  padding: 5px 20px;
  width: 100%;
}
.number-files span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  padding-left: 20px;
}

@media (max-width: 820px) {
  .file-wrap {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media (max-width: 580px) {
  .number-files {
    flex-direction: column;
    align-items: flex-start;
  }
  .number-files span {
    padding-left: 0;
    padding-top: 5px;
  }

  .file-item__name {
    font-size: 12px;
    line-height: 15px;
    margin-right: 10px;
  }

  .file-item .btn {
    margin-left: auto;
  }

  .file-item .btn-download {
    min-width: 120px;
    margin-left: 10px;
  }

  .file-wrap-col {
    padding: 30px 10px;
  }
}
.tabs-content .btn-more {
  margin: -16px auto 0 auto;
}

.order-item {
  padding: 45px 0;
  border-bottom: 1px solid #E3E3E3;
}

.order-item__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 720px;
}

.order-item__left {
  margin-right: 40px;
  max-width: 300px;
}

.order-item__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  color: #000000;
}

.order-item__status {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-top: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 7px;
}

.work-done-need-pay {
  background: #D1D8FB;
}

.work-done {
  background: #D3F1D6;
}

.work-process {
  background: #C8E4FF;
}

.expect-prepayment {
  background: #F7D2B7;
}

.work-evaluated {
  background: #F2E8C9;
}

.order-item__info {
  margin-top: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}
.order-item__info span {
  font-weight: 600;
}

.order-item__right .table-info-btns {
  display: flex;
  margin-top: 20px;
}
.order-item__right .table-info-btns .btn {
  margin-right: 30px;
}
.order-item__right .table-info-btns .btn:last-child {
  margin-right: 0;
}

.order-item__suma {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.order-item__suma span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.order-item__btn {
  margin-top: 15px;
}

@media (max-width: 680px) {
  .order-item__wrap {
    flex-direction: column;
  }

  .order-item__left {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .order-item {
    padding: 30px 0 40px 0;
  }
}
.burger {
  height: 15px;
  width: 25px;
  justify-content: center;
  align-items: center;
  z-index: 350;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger span {
  position: absolute;
  background: #fff;
  height: 3px;
  width: 25px;
  display: block;
  transition: all 0.3s;
  border-radius: 2px;
}
.burger span:nth-child(1) {
  top: 12px;
}
.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  bottom: 12px;
}
.burger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  bottom: 7px;
  transform: rotate(-45deg);
}

.discount {
  margin-top: -10px;
}

.discount-item {
  display: flex;
  padding: 25px 0;
  border-bottom: 1px solid #E3E3E3;
}
.discount-item:last-child {
  border: none;
}

.discount-item__img {
  width: 173px;
  min-width: 173px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 20px;
}
.discount-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.discount-item__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.discount-item__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-top: 20px;
}

.discount-item__btn {
  margin-top: 15px;
}

@media (max-width: 680px) {
  .discount-item {
    flex-direction: column;
  }

  .discount-item__img {
    margin: 0 auto 14px;
  }

  .discount-item__descr {
    margin-top: 10px;
  }

  .discount {
    margin-top: -25px;
  }
}
.bonuses {
  padding-top: 15px;
}
.bonuses p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-top: 25px;
}

.bonuses__wrapper {
  display: flex;
  justify-content: space-between;
}

.bonuses-left {
  background: #333333;
  border: 1px solid #333333;
  border-radius: 10px;
  padding: 20px 20px 30px;
  width: 270px;
}

.bonuses-left__top {
  display: flex;
  align-items: center;
}
.bonuses-left__top img {
  width: 55px;
  min-width: 55px;
  height: 55px;
  margin-right: 15px;
}

.bonuses__suma {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.bonuses__suma div {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.bonuses__suma div span {
  font-size: 16px;
  line-height: 20px;
}

.bonuses__btn {
  margin-top: 25px;
  width: 100%;
}

.bonuses-right {
  width: calc(100% - 290px);
}

.bonuses-code {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.bonuses-code span {
  background: #DCF4E1;
  padding: 5px 10px;
  white-space: nowrap;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

table {
  margin-top: 40px;
  width: 100%;
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  border-bottom: none;
  border-right: none;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}
table td,
table th {
  padding: 14px 25px;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.row-title th {
  font-weight: 700;
}

@media (max-width: 680px) {
  .bonuses__wrapper {
    flex-direction: column;
  }

  .bonuses-right {
    width: 100%;
  }

  .bonuses p {
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
  }

  .bonuses-code {
    margin-top: 10px;
  }

  .bonuses {
    padding-top: 0;
  }

  table td,
table th {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 6px;
    text-align: left;
  }

  table {
    margin-top: 15px;
  }

  .bonuses-code span {
    display: block;
    margin-left: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 4px;
  }
}
.faq {
  margin-top: 20px;
}

.faq__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}
.faq__title img {
  margin-right: 13px;
}

.faq-item:last-child .faq-item__descr {
  border-bottom: 1px solid #E3E3E3;
}

.faq-item__title {
  padding: 13px 20px;
  background: #F9F9F9;
  border: 1px solid #E3E3E3;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  position: relative;
  padding-right: 40px !important;
  cursor: pointer;
}
.faq-item__title:hover::before {
  filter: brightness(1);
}
.faq-item__title::before {
  content: "";
  position: absolute;
  background-image: url("../img/acc-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 12px;
  height: 10px;
  right: 20px;
  top: 16px;
  transition: all 0.3s ease-in-out;
  filter: brightness(0);
}
.faq-item__title.active::before {
  filter: brightness(1);
}

.faq-item__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 20px 30px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-top: none;
  border-bottom: none;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: none;
}
.faq-item__descr p {
  margin-bottom: 20px;
}
.faq-item__descr p:last-child {
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .faq-item__title {
    font-size: 12px;
    line-height: 15px;
    padding: 8px 20px;
  }
  .faq-item__title::before {
    top: 12px;
    width: 10px;
    height: 8px;
  }

  .faq-item__descr {
    font-size: 12px;
    line-height: 20px;
    padding: 20px 10px;
  }
}
.modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2000000000000;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrap.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  min-width: 400px;
  max-width: 400px;
}
.modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modal__body {
  background: #FFFFFF;
  padding: 30px 50px;
  width: 100%;
  position: relative;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
}
.modal__close:hover {
  background-color: #000;
  border: 1px solid #000;
}
.modal__close:hover::before {
  filter: brightness(20);
}
.modal__close::before {
  content: "";
  position: absolute;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 17px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-profile__top {
  display: flex;
  align-items: center;
}

.modal-profile__icon {
  width: 75px;
  min-width: 75px;
  height: 75px;
  margin-right: 18px;
}
.modal-profile__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.modal-profile__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.modal-profile__position {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-top: 2px;
}

.modal-profile__email {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-top: 4px;
}

.form-profile {
  margin-top: 30px;
}

.form-profile__btn {
  margin: 20px auto 0 auto;
  width: 230px;
}

.modal-thanks .modal__body {
  background: #265773;
}

.modal-thanks--white .modal__body {
  background: #FFFFFF;
}
.modal-thanks--white .modal__title {
  color: #333333;
}
.modal-thanks--white .modal-thanks__descr {
  color: #333333;
}
.modal-thanks--white .soc-item__wrap div {
  color: #333333;
}
.modal-thanks--white .btn.btn--white {
  color: #333333;
  border: 1px solid #333333;
}
.modal-thanks--white .btn.btn--white:hover {
  background-color: #333333;
  color: #ffffff;
}
.modal-thanks--white .modal__close {
  border: 1px solid #333333;
}
.modal-thanks--white .modal__close::before {
  filter: brightness(0) !important;
}
.modal-thanks--white .modal__close:hover {
  background-color: #333333 !important;
}
.modal-thanks--white .modal__close:hover::before {
  filter: brightness(20) !important;
}

.modal-small .modal {
  min-width: 310px;
  max-width: 310px;
}
.modal-small .modal__body {
  padding: 25px 20px;
}
.modal-small .modal__close::before {
  filter: brightness(20);
}
.modal-small .modal__close:hover {
  background-color: #FFFFFF;
  border: 1px solid #ffffff;
}
.modal-small .modal__close:hover::before {
  filter: brightness(0);
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-right: 40px;
}

.modal-thanks__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.modal-thanks__descr p {
  margin-top: 8px;
}

.soc-item {
  margin-top: 25px;
}

.soc-item__icon {
  width: 60px;
  min-width: 60px;
  margin-right: 15px;
}
.soc-item__icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.soc-item__wrap {
  display: flex;
  align-items: center;
}
.soc-item__wrap div {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.soc-item__wrap div span {
  font-weight: 700;
  padding-top: 10px;
  display: block;
}

.soc-item__btn {
  margin: 17px auto 0 auto;
  font-weight: 600;
}
.soc-item__btn img {
  margin-left: 10px;
}

.age {
  font-size: 24px;
  line-height: 29px;
}

.modal-info--green .modal__body {
  background: #263D35;
}

.modal-info--purple .modal__body {
  background: #39234A;
}

.modal-info--black .modal__body {
  background: #0A0A0A;
}

.modal-info__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 20px;
}

.modal-info__list {
  margin-top: 30px;
}
.modal-info__list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 1px solid #FFFFFF;
}
.modal-info__list li span {
  font-weight: 700;
}

.modal-info__btn {
  margin: 30px auto 0 auto;
}

.coin-item {
  margin-top: 25px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.coin-item img {
  width: 40px;
  min-width: 40px;
  margin-right: 20px;
}
.coin-item span {
  font-weight: 700;
}

.form input:not([type=checkbox]):not([type=radio]):not([type=range]) {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  margin-bottom: 10px;
  padding: 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.form input:not([type=checkbox]):not([type=radio]):not([type=range])::-moz-placeholder {
  color: #333333;
}
.form input:not([type=checkbox]):not([type=radio]):not([type=range]):-ms-input-placeholder {
  color: #333333;
}
.form input:not([type=checkbox]):not([type=radio]):not([type=range])::placeholder {
  color: #333333;
}
.form textarea {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

textarea {
  width: calc(100% - 210px);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 6px 12px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  min-height: 95px;
  -webkit-appearance: none;
  background-image: url("../img/textarea.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
textarea::-webkit-resizer {
  display: none;
}
textarea::-moz-placeholder {
  color: #707070;
}
textarea:-ms-input-placeholder {
  color: #707070;
}
textarea::placeholder {
  color: #707070;
}

.error {
  border-bottom: 1px solid #CF3A3A;
}

.select2-container .select2-selection--single {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.select2-container {
  width: 100% !important;
  margin-bottom: 10px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px;
  right: 2px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #444444 transparent transparent transparent;
  border-width: 7px 4px 0 4px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #444444 transparent;
  border-width: 0 4px 7px 4px;
}

.select2-container {
  z-index: 22222222;
}

.select2-results__option {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  padding: 2px 20px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #D9D9D9;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #333333;
}

input[type=range].styled-slider {
  height: 15px;
  -webkit-appearance: none;
}

input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7CB048;
  border: none;
  transform: translateY(-6px);
  cursor: pointer;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: #D9D9D9;
  box-shadow: none;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#7CB048, #7CB048) 0/var(--sx) 100% no-repeat, #efefef;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #7CB048;
  border: none;
  transform: translateY(0px);
  cursor: pointer;
}

input[type=range].styled-slider::-moz-range-track {
  height: 4px;
  background: #D9D9D9;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#7CB048, #7CB048) 0/var(--sx) 100% no-repeat, #efefef;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #7CB048;
  border: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #efefef;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(1em - 1px - 1px, 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #7CB048;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}

.order-page {
  display: flex;
  justify-content: space-between;
}
.order-page .quest-tippy {
  border: none;
  border-left: 1px solid #333333;
  border-radius: 0;
  transform: translateY(0);
  padding-left: 5px;
  padding-top: 2px;
}

.order-page-form {
  width: calc(100% - 230px);
}

.select-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 10px;
}

.select-item {
  display: flex;
  align-items: center;
}
.select-item .quest-tippy {
  padding: 0;
  border: none;
  width: auto;
  height: auto;
  transform: translateY(0);
}
.select-item .select2-container {
  margin-bottom: 0;
}

.plan-work {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-top: 30px;
}
.plan-work > div {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.radio-item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-right: 25px;
  cursor: pointer;
}
.radio-item:last-child {
  margin-right: 0;
}
.radio-item input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #D9D9D9;
  width: 18px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}
.radio-item input::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #333333;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.radio-item input:checked::before {
  display: block;
}

.order-page-form__file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #333333;
  margin-top: 30px;
}
.order-page-form__file .add-file {
  margin-top: 0;
  margin-right: 20px;
}

.file-length {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  padding: 5px 12px;
  background: #7cb14759;
  margin-left: 20px;
}

.originality-robots {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.originality-robots__procent {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  display: flex;
  align-items: center;
}
.originality-robots__procent .originality-robots__num {
  font-weight: 600;
  padding-left: 5px;
  display: flex;
  width: 42px;
}

.procent__val {
  display: block;
}

.originality-robots__radio {
  max-width: 290px;
}

.originality-robots__range {
  grid-column: 1/3;
  margin-top: 20px;
}
.originality-robots__range input {
  width: 100%;
}

.originality-robots__procent.hide,
.originality-robots__range.hide {
  display: none;
}

.bottom-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
}
.bottom-text a {
  color: #333333;
  text-decoration: underline;
}

.order-page-right {
  width: 210px;
}

.order-page-right__price {
  border: 1px solid #E3E3E3;
  border-left: 8px solid #7CB048;
  padding: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.order-page-right__price div {
  font-size: 30px;
  line-height: 37px;
  margin-top: 6px;
}
.order-page-right__price div span {
  font-size: 16px;
  line-height: 20px;
}

.order-page-right__bottom {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-top: 13px;
}
.order-page-right__bottom p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-top: 8px;
}

@media (max-width: 860px) {
  .order-page-right {
    display: none;
  }

  .order-page-form {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .select-wrap {
    grid-template-columns: 1fr;
  }

  .order-page-form__file {
    flex-wrap: wrap;
  }
  .order-page-form__file p {
    order: 3;
    width: 100%;
    margin-top: 10px;
  }

  .originality-robots {
    grid-template-columns: 1fr;
  }

  .originality-robots__range {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 7px;
  }

  .originality-robots__radio {
    margin-top: 5px;
  }

  .radio-item {
    font-size: 12px;
    line-height: 12px;
  }

  .form textarea {
    height: 100px;
  }

  .plan-work > div {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .originality-robots__radio {
    max-width: 250px;
  }
}
/*# sourceMappingURL=main.css.map */
